version: '3.4'

services:
  db:
    image: postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_HOSTNAME: ${POSTGRES_HOSTNAME}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  web:
    build:
      context: ${PWD}
      dockerfile: docker/Dockerfile
    links:
        - db:db
    environment:
      FLASK_ENV: ${FLASK_ENV}
      FLASK_CONFIG: ${FLASK_CONFIG}
    command: ./manage.py flask run --host 0.0.0.0
    volumes:
      - ${PWD}:/usr/src/app/
    ports:
      - "5000:5000"

volumes:
  pgdata: